body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #F8F8F8;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #6096BA;
    font-size: 28px;
}

input {
    padding: 10px;
    width: 300px;
    border: 2px solid #6096BA;
    border-radius: 5px;
    font-size: 16px;
    background-color: #BFD7EA;
    color: #3A5A40;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #C1E1C1;
    color: #3A5A40;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #91C788;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 320px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    background-color: #BFD7EA;
    border: 1px solid #6096BA;
    color: #3A5A40;
}

.botao-editar {
    background-color: #6d3fec;
    color: white;
}

.botao-editar:hover {
    background-color: #5430b3;
}

.botao-excluir {
    background-color: #ff3b3b;
    color: white;
}

.botao-excluir:hover {
    background-color: #cc2f2f;
}
